html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.btn{
  border: 2px solid seagreen;
  border-radius: 7px;
  padding: 10px;
  background-color: #fff;

}
.btn:hover{
  cursor: pointer;
  background-color: seagreen;
  color: #fff;
}